* {
    margin: 0;
    padding: 0;
    background-color: transparent;
    font-family: halvetica calibri, futura;
    caret-color: #ff0000
}

.view {

    color: white;
    height: 20px;
    width: 4rem;
    font-size: 14px;
    background-color: #973443;
    position: absolute;
    top: 1rem;
    left: 1rem;
    align-items: center;
    padding: 4px;
    display: flex;
    justify-content: space-around;
}

.imagesmall {
    height: 4rem;
    width: 4rem;
    position: absolute;
    bottom: 9rem;
    left: 5.8rem;

}

.f-icon {
    font-size: 15px;
    margin-right: 5px;

}

.vidio {
    position: relative;
}

.timer {
    position: absolute;
    color: white;
    background-color: black;
    opacity: 0.4;
    left: 13rem;
    height: 20px;
    width: 2.8rem;
    font-size: 14px;
    text-align: center;
}

.font {
    font-size: 24px;
}

.imagebig {
    height: 4rem;
    width: 4rem;
    position: absolute;
    bottom: 8.5rem;
    left: 5.8rem;
}



.swiper-slide {
    position: relative;
    text-align: center;
    font-size: 18px;
}

/* .swiper-slide .SSV-play-btn label {
    margin: 0;
    padding: 0;
    display: inline-block;
    border-top: 10px solid transparent;
    border-left: 15px solid #ffff;
    border-bottom: 10px solid transparent;
    margin-top: 14px;
    margin-left: 5px;
} */

.width {
    width: 15rem;
    height: 15rem;
}

.button-border {
    background-color: black;
    opacity: 0.7;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-shadow: 2px 2px #ff0000;

    /* text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF; */
}

.button-border ::before {
    background-color: transparent;
    outline: none;
}

.button-border ::after {
    background-color: transparent;
    outline: none;
    z-index: -1;
}

.ello {


    margin: 50px !important;
    float: left !important;
}


.closedbutton {

    font-size: 1rem;
}

.modalimage {
    height: 4rem;
    width: 4rem;
        /* position: absolute;
        align-items: center;
        bottom: 5rem;
        left: 69rem; */
}
.card-header{
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
} 
.modalvideo {
    position: relative;
}

.image-border {
    border: 2px solid #684bc4;
}

.modal-class {
    background-color: black;
    padding: 0 !important;
}

.cross-button {
    height: auto;
    border: solid black ;
        
} 
.txt{
    color: #fff!important;
    margin: 0!important;
    height: 30px;
    line-height: 30px;
    width: calc(100% - 155px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    font-size: 18px;
}

.modal-background-color {
    /* background-color: black; */
    /* margin-top: -5rem; */    
    /* margin-right: 12rem; */
    /* height: 15rem; */
    width: 25rem !important;
    height: 100% !important;
    /* border: solid black !important; */
    position: relative;
    margin: auto;

}

.slick-prev {
    left: 30px !important;
    font-size: 50px !important;
}
.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 50px !important;
}
.slick-next{
    right: 30px !important;
}
